
/*//opening the page//*/

body {
  font-family: Verdana, Geneva, sans-serif;

}

.pageContainer {
  display: flex;
  flex-wrap: wrap;
}

.window {
  width: 30%;
  margin: 8px;
  padding: 5px;
  border: 1px solid lightblue;
}

.img {
  width: 100%;
}

.description {
  text-align: justify;
  padding: 5px;
}

.status {
  background-color: darkgray;
  color: yellow;
}














/*article1, needs a border, 1px solid lightblue
header, has a border of 1px dotted lightgray
section1
element1-picture
element2-discription
element3-availability

section2
element1-specifications header
element2-block element size
element3-block element weight
element4-invalid footer

section3
element1-header
element2-block element quantity price1
element3-block element quantity price2
element4-block element quantity price3*/
